In [1]:
BDA=VINODH

NameError: name 'VINODH' is not defined

In [2]:
BDA

NameError: name 'BDA' is not defined

In [3]:
BDA="VINODH"

In [4]:
BDA

'VINODH'

In [5]:
type(BDA)

str

In [6]:
VINODH=20

In [7]:
type(VINODH)

int

In [8]:
VIGNESH=80

In [9]:
VINODH-VIGNESH

-60

In [10]:
VINODH+VIGNESH

100

In [11]:
VIGNESH*VINODH

1600

In [12]:
RAJINI=2.0

In [13]:
type(RAJINI)

float

In [15]:
SMALLRAJINI=3.0

In [16]:
SMALLRAJINI-RAJINI

1.0

In [17]:
BDA[3]

'O'

In [19]:
BDA[:3]

'VIN'

In [22]:
BDA[0:4]

'VINO'

In [28]:
BDA[0:2]

'VI'

In [34]:
sunday="businessdataanalytics"

In [35]:
sunday

'businessdataanalytics'

In [37]:
sunday[::-1]

'scitylanaatadssenisub'

In [38]:
sunday[0:22
    ]

'businessdataanalytics'

In [39]:
sunday[::-3]

'staades'

In [41]:
sunday[::]

'businessdataanalytics'

In [42]:
sunday[::2]

'bsnsdtaayis'

In [43]:
sunday[5]

'e'

In [49]:
week=['sun','mon','tue','wed','thu','fri','sat',1,2,3,4,5,6,7,['leave','work','work','leave'],True]

In [50]:
week

['sun',
 'mon',
 'tue',
 'wed',
 'thu',
 'fri',
 'sat',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 ['leave', 'work', 'work', 'leave'],
 True]

In [56]:
week.count('mon')

1

In [57]:
week.insert(1,5)

In [58]:
week

['sun',
 5,
 'mon',
 'tue',
 'wed',
 'thu',
 'fri',
 'sat',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 ['leave', 'work', 'work', 'leave'],
 True]

In [59]:
week.pop()

True

In [60]:
week

['sun',
 5,
 'mon',
 'tue',
 'wed',
 'thu',
 'fri',
 'sat',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 ['leave', 'work', 'work', 'leave']]

In [65]:
anydicts={"NABH":"national accrediation board of hospital","ASCII":"american standard code for information interchange","IDE":"integrated development environment","PPO":"pre placement offer"}

In [66]:
type(anydicts)

dict

In [67]:
anydicts.values()

dict_values(['national accrediation board of hospital', 'american standard code for information interchange', 'integrated development environment', 'pre placement offer'])

In [69]:
anydicts.keys()

dict_keys(['NABH', 'ASCII', 'IDE', 'PPO'])

In [71]:
anydicts.get("NABH")

'national accrediation board of hospital'

In [76]:
anydicts.update({"PPO":"pension payment order"})

In [77]:
anydicts.get("PPO")

'pension payment order'

In [80]:
anyTuple=("meals","briyani","anwar",12,False,56,9)

In [81]:
anyTuple.count("anwar")

1

In [82]:
anyTuple.index(12)

3

In [89]:
anySet={1,8,8,2,3,4,"python",False}

In [90]:
anySet

{1, 2, 3, 4, 8, False, 'python'}

In [91]:
anySet.add(75)

In [92]:
anySet

{1, 2, 3, 4, 75, 8, False, 'python'}

In [93]:
True

True

In [94]:
2<5

True

In [95]:
2>7

False

In [97]:
2>0

True

In [98]:
9+10>100

False

In [99]:
10==4

False

In [102]:
10==11-1

True

In [104]:
1!=2

True

In [105]:
3<=9

True

In [106]:
40*2<=800

True

# two operands and one operator is statement

In [107]:
(40>100) or (50>25)

True

In [108]:
(40>50)and(100>50)

False

# if,elif,else

In [111]:
if 40>30:
    print("First statement was True")
elif 50>90:
    print("Second statement was True")
else:
        print("Nothing left hence printing else block")

First statement was True